.App {
  text-align: center;
  background: #242424;
}

body {
  background-color: #242424;
}

h1 {
  color: rgb(212, 212, 212);
}

p {
  color: rgb(212, 212, 212);
}

footer {
  color: rgb(212, 212, 212);
}

.header {
  background-color: #3b3b3b;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0.75;
}

.textHeader {
  padding: 20px;
  font-family:'Gill Sans Extrabold', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
  margin: 2rem;
}

.grid > div{
  color: rgb(212, 212, 212);
  background: #3b3b3b;
  padding: 1rem;
  border-radius: 1rem;
}