.App {
  text-align: center;
  background: #242424;
}

body {
  background-color: #8b8b8b;
}

h1 {
  color: rgb(212, 212, 212);
}

p {
  color: rgb(212, 212, 212);
}

footer {
  color: rgb(212, 212, 212);
}

.header {
  background-color: #3b3b3b;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0.75;
  box-shadow: 5px 5px 50px rgb(22, 22, 22);
}

.textHeader {
  padding: 20px;
  font-family:'Gill Sans Extrabold', sans-serif;
}

.grid {
  display: grid;
    gap: 1rem;
  margin: 2rem;
}
.item1 {
  grid-column: 1/2;
}
